firmware/components/BMI270_SensorAPI/** linguist-vendored
firmware/managed_components/** linguist-vendored
firmware/build/** linguist-vendored

docs/** linguist-documentation

*.gen.c linguist-generated